<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js" defer></script>
</head>
<body>
    <div data-testid="root" id="wrapper">
        <div id="product-catalog"></div>
        <form id="checkout-form" method="post" action="/api/checkout">
            <label for="productId">Product ID</label>
            <input type="number" name="productId" name="productId"/>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>